
# Created by https://www.gitignore.io/api/sbt,scala
# Edit at https://www.gitignore.io/?templates=sbt,scala

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
# Local mirror of CI's `actions/download-artifact@v4 -> stage`. Only
# present when verifying the Docker build off-CI; never committed.
/stage/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log
*.metals

# End of https://www.gitignore.io/api/sbt,scala
.idea
**/.DS_Store
.bsp

# Local env vars (e.g. SCRAPINGANT_KEY) loaded by tools.Env
.env.local