@import controllers.{CinemaSchedule, DateFormatter}
@(cinemas: Seq[CinemaSchedule])
@for(cs <- cinemas) {
<div class="cinema-section mb-5" data-cinema="@cs.cinema.displayName">
  <h5 class="cinema-section-title px-1 mb-3">@cs.cinema.displayName</h5>
  <div class="row g-3 row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
    @for(film <- cs.movies) {
    <div class="col" data-title="@film.movie.title">
      @_movieCard(film.movie, film.posterUrl, film.enrichment) {
        @defining(film.showings.flatMap(_._2.map(_.format.toSet)).filter(_.nonEmpty)) { allFmts =>
        @defining(if (allFmts.isEmpty) Set.empty[String] else allFmts.reduce(_ intersect _)) { commonToks =>
        @for((date, showtimes) <- film.showings) {
          <div class="date-group" data-date="@date">
            <div class="date-label">@DateFormatter.format(date)</div>
            <div>
              @for(slot <- showtimes) {
                @defining(slot.room.map(r => Html(s""" data-room="${play.twirl.api.HtmlFormat.escape(r)}"""")).getOrElse(Html(""))) { roomAttr =>
                @defining(slot.format.filterNot(commonToks.contains).mkString(" ")) { stripped =>
                @defining(if (stripped.isEmpty) Html("") else Html(s"""<span class="badge-fmt">${play.twirl.api.HtmlFormat.escape(stripped)}</span>""")) { fmtBadge =>
                @defining(slot.format.mkString(" ")) { fmtAttr =>
                  @slot.bookingUrl match {
                    case Some(url) => { <a href="@url" class="badge-time" target="_blank"@roomAttr data-format="@fmtAttr">@{slot.dateTime.toLocalTime}@fmtBadge</a> }
                    case None      => { <span class="badge-time"@roomAttr data-format="@fmtAttr">@{slot.dateTime.toLocalTime}@fmtBadge</span> }
                  }
                }
                }
                }
                }
              }
            </div>
          </div>
        }
        }
        }
      }
    </div>
    }
  </div>
</div>
}
