@import controllers.FilmSchedule
@(films: Seq[FilmSchedule])
@for(film <- films) {
<div class="col" data-title="@film.movie.title" data-countries="@film.movie.countries.mkString("|")"@if(film.movie.genres.nonEmpty){ data-genres="@film.movie.genres.mkString("|")"}@if(film.director.nonEmpty){ data-director="@film.director.mkString(", ")"}@if(film.cast.nonEmpty){ data-cast="@film.cast.mkString(", ")"}>
  @_movieCard(film.movie, film.posterUrl, film.enrichment) {
    @_filmShowings(film)
  }
</div>
}
